@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");

$dark-purple: #663e62;
$darker-purple: #452d42;
$light-gray: rgb(242, 242, 242);
$light-pink: #e3cae0;

.row {
  margin-left: unset !important;
}

a {
  color: $darker-purple;
}

.avatar.avatar-small {
  height: 3rem;
  width: unset;
}

.avatar-box {
  transition: all 0.5s ease;
}

.avatar-box:hover {
  transform: translateY(-10px);
}

.bg-home {
  height: 103vh;

  @media (max-width: 767px) {
    height: 103vh;
  }
}

.mb-12 {
  margin-bottom: 3.5em;
}

.btn-outline-primary {
  &:active {
    background-color: $darker-purple !important;
    border-color: $darker-purple !important;
    box-shadow: 0 3px 5px 0 $light-pink;
  }

  &:hover {
    background-color: $darker-purple !important;
    border-color: $darker-purple !important;
    box-shadow: 0 3px 5px 0 $light-pink;
  }

  border-color: $dark-purple;
  color: $darker-purple !important;
}

.btn-primary {
  &:active {
    background-color: $darker-purple !important;
    border-color: $darker-purple !important;
  }

  &:hover {
    background-color: $darker-purple !important;
    border-color: $darker-purple !important;
  }

  background-color: $dark-purple !important;
  border: 1px solid $dark-purple !important;
  box-shadow: 0 3px 5px 0 $light-pink;
  color: #fff;
}

.center-on-mobile {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.container-filter li a.active,
.container-filter li a:hover {
  color: $darker-purple !important;
  border-color: $darker-purple !important;
}

.dark-purple {
  color: $dark-purple;
}

.darker-purple {
  color: $darker-purple;
}

.footer {
  background-color: $darker-purple;
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 2em;
}

.logo {
  font-size: 1.2rem;
  line-height: unset;
  padding-bottom: 0.8rem;
  padding-top: 0.9rem;

  @media (min-width: 991px) {
    font-size: 1.3rem;
    line-height: unset;
    padding: 0.9rem;
  }
}

.menu-arrow {
  @media (min-width: 991px) {
    top: 1.5rem;
  }

  top: 1.5rem;
}

.no-scroll {
  overflow: hidden;
}

.page-next-level .title {
  color: #161c2d;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

.playfair {
  font-family: "Playfair Display", serif !important;
}

.section-2 {
  padding: 3rem 0;
}

.shape {
  bottom: -3px;

  @media (min-width: 767px) {
    bottom: -1px;
  }
}

.show-on-desktop {
  display: none;

  @media (min-width: 991px) {
    display: block;
  }
}

.show-on-mobile {
  display: block;

  @media (min-width: 991px) {
    display: none;
  }
}

.text-muted {
  color: #5f6670 !important;
}

.text-primary {
  color: $dark-purple !important;
}

.title-heading .heading {
  letter-spacing: unset;

  @media (min-width: 768px) {
    letter-spacing: 1px;
  }
}

.z-depth-1-half {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#navigation {
  top: 3.2rem;

  @media (max-width: 991px) {
    background-color: $light-gray;
    box-shadow: unset;
  }
}

#partners {
  justify-content: space-evenly !important;

  @media (max-width: 991px) {
    justify-content: center !important;
  }
}

#topnav {
  @media (max-width: 991px) {
    background-color: #f2f2f2 !important;
    min-height: unset;
    max-height: 3.4rem;
  }
}

#topnav .navbar-toggle .lines {
  margin: 1.3rem 1rem;
  width: 0.9rem;

  @media (max-width: 375px) {
    margin-right: 0.6rem !important;
  }
}

#topnav .navbar-toggle span {
  margin-bottom: 0.2rem;
}

#topnav.nav-sticky {
  background-color: rgb(242, 242, 242);
}

#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a {
  color: $dark-purple !important;
}

#topnav .navigation-menu > li > a {
  @media (min-width: 992px) {
    padding-bottom: 1rem;
    padding-top: 1.2rem;
    min-height: 0.5rem;
  }
}

#topnav .navigation-menu .has-submenu .menu-arrow {
  right: 16px;
  top: 24px;

  @media (min-width: 768px) {
    right: 0;
    top: 1.5rem;
  }
}

#topnav #navigation {
  @media (max-width: 991px) {
    min-height: 100vh;
  }
}

#topnav .has-submenu.active.active .menu-arrow {
  border-color: $dark-purple !important;
}

.alert-primary,
.pagination li a:hover,
::selection {
  background-color: $dark-purple !important;
  border-color: $dark-purple !important;
}
